services:
  - type: web
    name: lifa-hr-bot
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      CHANNEL_SECRET:
        sync: false
      CHANNEL_TOKEN:
        sync: false
      SHEET_ID:
        sync: false
      SHEET_NAME: 立發人資管理總表
      ID_SHEET: LINE_ID對照表
