services:
  - type: web
    name: line-leave-system1
    env: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: GAS_URL
        sync: false
    postDeployCommand: (while true; do curl -s $RENDER_EXTERNAL_URL/ping; sleep 240; done) &
