services:
  - type: web
    name: line-leave-bot
    env: python
    plan: free  # 或 starter 視需求
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app  # 或 python app.py，如果簡單
    envVars:
      - key: PYTHON_VERSION
        value: 3.10  # 選擇 Python 版本
      - key: CHANNEL_ACCESS_TOKEN
        sync: MS8swHYK+bC0SEUgR173zpb9sLKx76Fy2jNZhY/fibGDCjLee7t2klL/3ywPi6vpTTb+LzzpmwhClyC1OYG4yyVFIEGsIdG47iNaENmbaIOMlXmKYdImvj/nPiaAzKPXPctIITVv2CSoKeP6IPz7SAdB04t89/1O/w1cDnyilFU=
      - key: CHANNEL_SECRET
        sync: 9cbc3546a1f2e970f818ba8309f48d43
      - key: GOOGLE_CREDENTIALS
        sync: false
      - key: SUPERVISOR_ID
        sync: Ufc6e6eba7e9e9015d6cde1274767a15a
      - key: HR_ID
        sync: Ufc6e6eba7e9e9015d6cde1274767a15a
